
.header__logo {
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 950px) {
    .header__logo {
        max-width: 650px;
    }
}

@media screen and (max-width: 650px) {
    .header__logo {
        max-width: 450px;
    }
}

@media screen and (max-width: 450px) {
    .header__logo {
        margin-left: 27px;
        max-width: 103.74px;
        max-height: 24.4px;
    }
}

.header__line {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 41px;
}

@media screen and (max-width: 950px) {
    .header__line {
        max-width: 650px;
    }
}

@media screen and (max-width: 650px) {
    .header__line {
        max-width: 450px;
    }
}

@media screen and (max-width: 450px) {
    .header__line {
        max-width: 320px;
        padding-top: 31.6px;
    }
}

.content {
    margin: 0 auto;
    max-width: 880px;
}

@media screen and (max-width: 950px) {
    .content {
        max-width: 650px;
    }
}

@media screen and (max-width: 650px) {
    .content {
        max-width: 450px;
    }
}

@media screen and (max-width: 450px) {
    .conten {
        max-width: 320px;
    }
}

.profile {
    margin: 0 auto;    
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

@media screen and (max-width: 650px) {
    .profile {
        max-width: 450px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 450px) {
    .profile {
        max-width: 282px;        
    }
}

.profile__logo {    
    margin-right: 30px;
    border-radius: 60px;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 450px) {
    .profile__logo {
        margin: 0;
    }
}

.profile__info {
    margin: 0;
    align-self: center;
    max-width: 336px;
}

.profile__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 650px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-top: 26px;
        margin-left: 10px;
    }
}

.profile__navigation {
    margin: 0;
    display: flex;
    justify-content: baseline;
    align-self: center;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu__item {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: baseline;
}

.menu__open-popup {
    max-height: 24px;
    width: 24px;
    margin-left: 18px;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid white;
    background-color: black;
    font-size: 40%;
    margin-bottom: auto;
    margin-top: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background: none;
}

.menu__open-popup:hover {
    opacity: 0.6;
}

@media screen and (max-width: 450px) {
    .menu__open-popup {
        margin-left: 10px;
        max-width: 18px;
        max-height: 18px;
    }
}

.profile__subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 16px;    
}

@media screen and (max-width: 650px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 26px;
        padding: 0;
    }
}


.profile__button {
    border: 1px solid white;
    background-color: black;
    width: 150px;
    height: 50px;
    align-self: center;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.profile__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 650px) {
    .profile__button {
        margin: 24px auto 0;
        width: 282px;        
    }
}

.profile__plus {}

@media screen and (max-width: 320px) {
    .profile__plus {
        width: 17px;
        height: 17px;
    }
}

.elments {
    margin:0 auto;
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-template-rows: repeat(auto-fit, 361px);
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 17px;
    row-gap: 20px;
    justify-content: center;
    max-width: 880px;
    min-height: 744px;
}

@media screen and (max-width: 650px) {
    .elments {
        min-height: 2268px;
    }
}

.element{
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    background: #FFFFFF;
    width: 100%;
    height: 100%;    
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.element__image {
    margin-bottom: 25px;
    width: 282px;
    height: 282px;
}

.element__image:hover {
    opacity: 0.6;
}

.element__rectangel {
    margin-left: 21px;
    max-width: 246px;
    display: flex;
    justify-content: space-between;
}

.element__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__title:hover {
    opacity: 0.6;
}

.element__button {
    border: 0;
    background-color: white;
}

.element__like {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
}

.element__like:hover {
    opacity: 0.6;
}

.element__like_active {
    background-color: url(./images/black_like.svg);
}

.footer {
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 950px) {
    .footer {
        max-width: 650px;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        max-width: 282px;
    }
}

.footer__copyright {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin:0;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 650px) {
    .footer__copyright {
        padding-top: 48px;
        padding-bottom: 36px;
        font-size: 14px;
        line-height: 17px;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);  
}

.popup__container {
    width: 430px;
    position: relative;    
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    padding-top: 34px;
    padding-left: auto;
    padding-right: auto;
    min-width: 320px;
    max-width: 430px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}



.popup__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;    
}

.popup_is-opened {
    display: flex;
}

.popup__name {
    width: 358px;
    margin: 0 auto;
    padding: 0;
    border: none;
    border-bottom: 1px solid;
    margin-top: 54px;
    padding-bottom: 13px;
}

.popup__info {
    width: 358px;
    padding: 0;
    border: none;
    border-bottom: 1px solid;
    margin-top: 30px;
    padding-bottom: 13px;
}

.popup__submit-button {
    background-color: black;
    color: white;
    width: 358px;
    height: 50px;
    margin-top: 48px;
    margin-bottom: 37px    
}

.popup__close-button {
    border: none;
    background-image: url(./images/Close.svg);
    width: 32px;
    height: 32px;
    padding: 0;
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -40px;
    top: -40px;
}

.popup__close-button:hover {
    opacity: 0.6;
}