.header__line {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 41px;
}

@media screen and (max-width: 950px) {
    .header__line {
        max-width: 650px;
    }
}

@media screen and (max-width: 650px) {
    .header__line {
        max-width: 450px;
    }
}

@media screen and (max-width: 450px) {
    .header__line {
        max-width: 320px;
        padding-top: 31.6px;
    }
}