.element__button {
    border: 0;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.png);
    background-repeat: no-repeat;
}

.element__button:hover {
    opacity: 0.6;
}

.element__button:active {
    background-image: url(../../../images/black_like.svg);
    opacity: 1;
}